.banner { 
    background-color: $black; width: 100%;  float: left; padding: 2rem 0 0 0;
    .banner-desktop { display: block; width: 100%;   float: left; }
    .banner-mobile { display: none; width: 100%;   float: left; }
}
