@font-face {
    font-family:'cut-the-crap';
    src: url('../fonts/cut-the-crap.woff2') format('woff2'), url('../fonts/cut-the-crap.woff') format('woff');
    font-weight:normal; 
    font-style:normal;
    font-stretch:normal;
}
  @font-face {
    font-family: 'lato-black';
    src: url('../fonts/lato-black.woff2') format('woff2'), url('../fonts/lato-black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-stretch:normal;
  }
  @font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.woff2') format('woff2'), url('../fonts/lato-bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-stretch:normal;
  }
  @font-face {
    font-family: 'lato-semibold';
    src: url('../fonts/lato-semibold.woff2') format('woff2'), url('../fonts/lato-semibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-stretch:normal;
  }
  @font-face {
    font-family: 'lato-medium';
    src: url('../fonts/lato-medium.woff2') format('woff2'), url('../fonts/lato-medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-stretch:normal;
  }
  @font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.woff2') format('woff2'), url('../fonts/lato-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-stretch:normal;
  }

  
  @mixin cutthecrap {
    font-family:'cut-the-crap', Arial, sans-serif;
    font-weight: normal;
  }
  @mixin latoblack {
    font-family:'lato-black', Arial, sans-serif;
    font-weight: 900;
  }
  @mixin latobold {
    font-family:'lato-bold', Arial, sans-serif;
    font-weight: 700;
  }
  @mixin latosemibold {
    font-family:'lato-semibold', Arial, sans-serif;
    font-weight: 600;
  }
  @mixin latomedium {
    font-family:'lato-medium', Arial, sans-serif;
    font-weight: 500;
  }
  @mixin latoregular {
    font-family:'lato-regular', Arial, sans-serif;
    font-weight: 400;
  }
 