$black : #000000;
$black2 : #1C1C1C;
$black3 : #020202;
$black4 : #1d1d1d;
$black5 : #484848;
$black6 : #1F1F1F;
$black7 : #333333;
$black8 : #272727;


$white : #ffffff;
$white2 : #E2E2E2;
$green : #4BC500;
$green2 : #A3D12E;
$green3 : #6FC107;
$green4 : #77C706;

$gray : #949494;

$red : #ED6A5E;
$red2 : #F22310;

$blue : #1A95FF;